@import "src/styles";
.list-purchase__wrapper-table {
  background-image: url("../../assets/img/table.png");
  background-size: 180%;
  width: 100%;
  background-repeat: repeat;
  min-height: calc(100vh - 180px);
  margin-bottom: 50px;
  border-radius: 5px;
  height: fit-content;
  @include tablet {
    min-height: calc(100vh - 250px);
    background-size: 120%;
  }
}
.list-purchase__list-item {
  height: fit-content;
  padding: 1px;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 20px;
  }
}
.list-item__item {
  background-image: url("../../assets/img/paper.jpg");
  background-repeat: repeat;
  padding: 10px;
  background-position-x: -33px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  box-shadow: 4px 4px 8px rgba($color-header, 0.4);
  position: relative;
  &:last-child {
    margin-bottom: 20px;
  }
  @include tablet {
    width: 40%;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include desktop {
    width: 26%;
  }
}
.list-item--goods__item {
  min-height: 19px;
  display: flex;
}
.list-item--goods__text {
  margin-left: 10px;
  font-size: 15px;
  line-height: 16px;
  color: $color-title;
  &:first-child {
    font-weight: bold;
  }
}
.title {
  letter-spacing: -1px;
}
.wrapper-header {
  .btn-icon {
    &.btn-edit {
      left: 5px;
      right: 0;
      top: 5px;
      margin-left: 0;
    }
    &.btn-delete {
      right: 5px;
      top: 5px;
    }
  }
  &.card {
    margin-bottom: 17px;
    margin-top: 5px;
  }
  .title {
    letter-spacing: -1px;
    &.purchase {
      color: $color-title;
      @include tablet {
        font-size: 21px;
      }
      @include desktop {
        font-size: 21px;
      }
    }
  }
}
.input {
  width: 40%;
    margin-left: 10px;

}
.wrapper-btn {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .btn {
    margin-left: 10px;
    padding: 5px 10px;
  }
}

