<section class="wrapper">
  <div class="first-block">
  </div>
  <div class="container">
    <h1 class="title">MOM`S ORGANIZER</h1>
    <p class="text header">Will help mom to do everything</p>
    <button class="btn" (click)="openPopup()">SING IN</button>
  </div>
</section>
<section class="container advantage">
  <h2 class="title advantage">HELP YOU</h2>
  <ul class="list-item">
    <li class="item">
      <span class="btn-icon time"></span>
      <p class="text advantage">Split and free up time</p>
    </li>
    <li class="item">
      <span class="btn-icon bell"></span>
      <p class="text advantage">Remember everything</p>
    </li>
    <li class="item">
      <span class="btn-icon mobile"></span>
      <p class="text advantage">Have all need notices at hand </p>
    </li>
  </ul>
</section>
