<section class="layout__wrapper">
  <div class="layout__background-block">
  </div>
  <div class="layout__header-container container">
    <h1 class="layout__title">MOM`S ORGANIZER</h1>
    <p class="layout__text-header">Will help mom to do everything</p>
    <button class="layout__button--blue button--blue" (click)="openPopup()">SING IN</button>
  </div>
</section>
<section class="layout__advantage-container container">
  <h2 class="layout__title-advantage">HELP YOU</h2>
  <ul class="advantage__list-item">
    <li class="advantage__item">
      <span class="advantage__button--icon-time button--icon"></span>
      <p class="layout__text-advantage">Split and free up time</p>
    </li>
    <li class="advantage__item">
      <span class="advantage__button--icon-bell button--icon"></span>
      <p class="layout__text-advantage">Remember everything</p>
    </li>
    <li class="advantage__item">
      <span class="advantage__button--icon-mobile button--icon"></span>
      <p class="layout__text-advantage">Have all need notices at hand </p>
    </li>
  </ul>
</section>
