@import "src/styles";
.calendar__container {
  position: relative;
  padding: 1px;
}
.calendar__wrapper-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  @include tablet {
    top: 36px;
  }
  @include desktop {
    top: 62px;
  }
}
.calendar__block {
  margin-bottom: 20px;
  margin-top: 75px;
   @include tablet {
     margin-top: 40px;
   }
  @include desktop {
    margin-top: 65px;
  }
  .fc {
    .fc-toolbar-title {
      color: $color-header;
      font-size: 32px;
      letter-spacing: -2px;
    }
  }
}
.calendar__button--blue {
    margin-left: 5px;
}
.calendar__button-today {
  margin-right: auto;
  @include tablet {
    margin-right: 20px;
  }
}

